{% extends 'layout.html' %}
{% block body %}
<div class="col-4 offset-4">

    <div class="card card-body">
    
        <form action="/update/{{contact.0}}" method="POST">
            <div class="form-group">
                <label for="fullname" class="form-label">Fullname</label>
                <input type="text" name="fullname" id="" placeholder="Fullname" value="{{contact.1}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" name="phone" id="" placeholder="Phone" value="{{contact.2}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" id="" placeholder="Email" value="{{contact.3}}" class="form-control">
            </div>
            <div class="form-group d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
